
/* LES TITRES */

h1, h2, h3{
    font-weight: bold;
}
h1{
    text-shadow: 1px 1px 2px grey;
}

a{
    color: #fafafa;
}

/* LES IMAGES */
img{
    text-align: center;
}

header{
    background-color: white;
}
body{

    background-color: #f5f5f5;
    font-family: "Gill Sans", sans-serif;
    color: #454545;
}

 .titre{
    margin-top: 30px;
    color: #454545;
 }
 .actualites{
    padding-top: 30px;
 }

 /* PREMIERE PARTIE */

.inscriptions{
    border: 1px solid black;
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 50px;
    background-color: #795548;
    color: #f5f5f5;
}
.image{
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

/* DEUXIEME PARTIE */
.tarifs{
    color: #f5f5f5;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    background-color: #08670c;
}
.services{
    color: #f5f5f5;
    margin-top: 30px;
    border: 1px solid black;
    padding: 20px;
    background-color:#08670c;
    margin-bottom: 50px;
}
/* LE FOOTER */
footer{
    padding-bottom: 50px;
    padding-top: 100px;
    background-color: #795548;
    color: #fafafa;
}
.contact{
    padding-left:80px;
}
.adresse{
    padding-left:100px;
}
.copyright{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

/* RESEAUX SOCIAUX */
.FB{
    font-size: 40px;
    color: white;
    padding: 60px;
}
.TW{
    font-size: 40px;
    color: white;
    padding: 60px;
}
.INST{
    font-size: 40px;
    color: white;
    padding: 60px;
}
